main {
  width: 800px;
  margin: 0 auto;
  line-height: 15px;
  font-family: 微软雅黑;
  font-size: 15px;
  color: #000000;
  border: 1px solid rgb(51, 51, 51);
  background-color: #ffffff;
}
.introduce {
  width: 798px;
  height: 250px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #3498db;
  border-bottom: 1px solid #ffffff;
  float: right;
}
.myself {
  margin-left: 150px;
}
.image1 {
  margin-left: 150px;
  margin-right: 50px;
  width: 140px;
  height: 140px;
  border: solid #ffffff;
  border-radius: 50%;
}
.contact {
  width: 350px;
  margin-right: 80px;
  font-size: 16px;
  word-spacing: 5px;
  letter-spacing: 1px;
  float: right;
}
.message {
  margin-left: 40px;
}
.content-row {
  width: 798px;
  margin-left: 150px;
  clear: both;
}
.purpose {
  padding: 30px 0 5px;
  font-weight: bold;
}
.education {
  padding: 15px 0 5px;
  font-weight: bold;
}
.edu {
  margin-left: 15px;
}
.job {
  padding: 15px 0 0;
  font-weight: bold;
}
.experience {
  padding-top: 15px;
}
.company1 {
  font-size: 16px;
  margin-left: 15px;
  font-weight: bold;
}
.company2 {
  font-size: 16px;
  margin-left: 15px;
  font-weight: bold;
}
.project {
  width: 400px;
  margin-left: 140px;
  line-height: 25px;
}
.work {
  padding-left: 25px;
  margin: 0;
}
.skills {
  padding: 15px 0 5px;
  font-weight: bold;
}
.knowledge {
  margin-left: 150px;
}
.skill1 {
  width: 80px;
  height: 80px;
  background-color: #6cdb9b;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-right: 25px;
  padding-top: 28px;
  padding-left: 2px;
  display: inline-block;
}
.skill2 {
  width: 80px;
  height: 80px;
  background-color: #b98acc;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-right: 25px;
  padding-top: 28px;
  padding-left: 2px;
  display: inline-block;
}
.skill3 {
  width: 80px;
  height: 80px;
  background-color: #71b7e6;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-right: 25px;
  padding-top: 28px;
  padding-left: 2px;
  display: inline-block;
}
.skill4 {
  width: 80px;
  height: 80px;
  background-color: #5ed0ba;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-right: 25px;
  padding-top: 28px;
  padding-left: 2px;
  display: inline-block;
}
.skill5 {
  width: 80px;
  height: 80px;
  background-color: #f0b078;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-right: 25px;
  padding-top: 28px;
  padding-left: 2px;
  display: inline-block;
}
.use {
  width: 80px;
  text-align: center;
  margin-right: 25px;
  display: inline-block;
}
