body {
  font-family: 微软雅黑;
  line-height: 25px;
}
main {
  width: 800px;
  margin: 0 auto;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 5px;
}
.introduce {
  font-family: 微软雅黑;
  color:#f5f5f5;
  width: 798px;
  height: 250px;
  margin: 0 auto;
  background-color: #0066cc;
  float: right;
}
.myself {
  margin-left: 150px;
  padding: -10px 0px;
}
img {
  margin-left: 150px;
  margin-right: 50px;
  border-radius: 70px;
  width: 140px;
  height: 140px;
}
.contact {
  font-size: 18px;
  width: 300px;
  margin-right: 100px;
  float: right;
}
article {
  font-family: 微软雅黑;
  clear: both;
  margin-left: 150px;
  width: 800px;
}
.purpose {
  padding-top: 30px;
  font-size: 20.8px;
  font-weight: bold;
}
.education {
  font-size: 20.8px;
  font-weight: bold;
}
.job {
  font-size: 20.8px;
  font-weight: bold;
}
.project {
  text-align: left;
  width: 400px;
  margin-left: 100px;
  line-height: 25px;
}
ol {
  margin: 0 10px;
  padding: 0 10px;
}
.skills {
  font-size: 20.8px;
  font-weight: bold;
}
footer {
  margin-left: 150px;
}
.skill {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  background-color: #0099cc;
  border: 1px;
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
  display: inline-block;
}
